main{
            max-width: 900px;
            padding:20px;
		margin:0 auto;
            
        }
        h1{
            color:rgb(255, 153, 153);
            text-align: center;
	font-size: 50px;
        } 
        body{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            background-color: rgb(255, 253, 242);
	color:rgb(70, 19, 19);
        }
        h2{
            color: rgb(223, 123, 248);
            text-align: center;
	font-size:30px;
        }
        p{
            text-align: center;

        }
        img{
            display:block;
            margin: 0 auto;
            border:10px solid rgb(174, 226, 241);
        }
        ul{
            text-align: center;
        }
        header{
            background-color:rgb(255, 208, 208);
        }
        footer{
            background-color: rgb(172, 232, 247);
        }
        .hobby-highlight-purple{
            background-color: rgb(191, 157, 223);
            font-weight: bold;
        }
        .hobby-highlight-blue{
            background-color: rgb(157, 191, 223);
            font-weight: bold;
        }
        .hobby-highlight-green{
            background-color: rgb(157, 223, 191);
            font-weight: bold;
        }
        .hobby-highlight-yellow{
            background-color: rgb(223, 191, 157);
            font-weight: bold;
        }
        #page-title{
            padding-bottom: 10px;
            border-bottom: 3px dotted pink;
        }
        ol{
	text-align: center;
}	footer a{
	color:rgb(256,100,100);
	text-decoration:underline;
}
